.blue{
  color:skyblue
}
.pink{
  color: rgb(255, 192, 203) ;
}
body{
  text-align: center;
}
.decoration{
  font-size: 20px;
}
#basic p{
  font-weight:bold;
}
 h1{
font-family: "Josefin Sans";,"sans-serif"
  font-size: 2rem;
  font-family: sans-serif;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 3px rgba(0,0,0.3);
  border-bottom:3px solid rgb(115,115,114);
}
